*{
    margin: 0;
    padding: 0;

}
body{
    background-color:#222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    
}
ul{
    /* display: flex; */
    width: 100%;
    text-align: center;
}
ul li{
    display:inline-block;
    margin:25px;
    position: relative;
}
ul li span{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    
    color: rgb(233, 219, 219);
}
.material-icons.icons{
    color: rgb(187, 182, 182);
    font-size: 120px;
}



p{
    color: rgb(214, 210, 210);
    font-size: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    text-align: center;
    width:100%;
    display: inline-block;
}

p span{
    color: rgb(223, 156, 32);
    font-size: 45px;
    
}

.zip_file{
    width: 100%;
    text-align: center;
    background-color: transparent;
    margin-top:50px;
    border: none;
    
}
.zip_file a{
    color: lime;
    border: 2px solid lime;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px black,0 0 5px black;
}

.message{

    color: rgb(189, 192, 196);
    font-size:30px;
    
    width:max-content;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    
    
}

.center_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:5px solid lime; */
    margin-top: 80px;
}

.main_box{
    width:550px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 0 5px black,0 0 5px rgb(58, 56, 56);
}

.main_box div{
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    
    
}
.main_box div button{
    background-color: transparent;
    border: none;
    
}

.material-icons.devices{
    color: rgb(153, 153, 153);
    font-size: 150px;
    
    
}

.material-icons.download{
    color: lime;
    font-size:50px;
    border: 5px solid lime;
    width:50px;
    border-radius: 50%;
    margin-left: -300px;
    
}
h3{
    color: rgb(240, 229, 229);
    font-size:30px;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.main_box p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top:35px;
    color: rgb(165, 162, 162);
    
}
.download_zip{
    background-color: #00c752;
    text-decoration: none;
    color: white;
    font-size: 25px;
    
    margin-top: 60px;
    border-radius: 5px;
    width: 250px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    box-shadow: 0  0 5px  black,0 0 5px black;
    
}

.main_box .top_message{
    text-align:left;
    margin-top: 60px;
}