 
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;

}

nav ul li{
    /* background-color: rgb(33, 82, 53); */
    background-color: rgb(51, 122, 80);
    position: relative;
    list-style: none;
    display:inline-block;
   

   
}

nav ul li a{
    text-decoration: none;
    display: flex;
    padding: 0 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}
nav ul li a i{
    margin-right: 5px;
}

nav ul li a:hover{
    background-color: #3a5066;
}


nav ul ul {
    position: absolute;
    top: 22px;
    right: -30px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: fit-content;
    float: none;
    display: list-item;
    position: relative;
    width: 200px;
    line-height:30px;

}

nav ul ul li a{
    text-decoration: none;
}


nav ul ul ul li{
    position:relative;
    left: -200px;
    top: -20px;
    
}





@media screen and (max-width:680px) {
    nav ul {
        display: none;
    }
    .menubtn{
        display: block;
    }
}
    .moblist ul{
        position: relative;
        left: 0px;
        top: 20px;
        overflow: hidden;
    }

    .moblist ul li{
        width: 100%;
        color: white;
        list-style: none;
        font-size: 30px;
        text-align:left;
        margin: 5px;
        font-family: 'Inconsolata', monospace;
        padding: 5px 5px;
        border-bottom: 2px solid rgb(95, 80, 80);
        cursor: pointer;

    }
    
    .moblist ul li a{
        color: aqua;
        text-decoration: none;
    }
    .moblist ul ul {
        position: relative;
        left:0px;
        top: 0px;
        display: none;
    }
    .moblist ul ul li{
        font-size: 26px;
        padding: 5px 5px;
        border:none;
        cursor: pointer;


    }
    .moblist ul ul li a{

        color: rgb(135, 211, 12);
    }
    .moblist ul ul li:hover >ul{
        background-color: transparent;
    }
    .moblist ul ul ul li{
        font-size: 25px;
        padding: 5px 5px;
        cursor: pointer;

    }
    .moblist ul ul ul li a{
        color: rgb(202, 202, 202);
        /* font-weight: bold; */
    }
    .moblist ul ul ul li:hover>a{
        color: blue;
    }
    .moblist ul ul ul li:hover{
        background-color:white;
    }
    .moblist ul li:hover >ul{
        display: block;
    }
    
/* } */
