 
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;

}

nav ul li{
    background-color: rgb(33, 82, 53);
    position: relative;
    list-style: none;
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 0 15px;
    color: white;
    font-size: 20px;
}

nav ul li a:hover{
    background-color: #243342;
}


nav ul ul {
    position: absolute;
    top: 22px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: fit-content;
    float: none;
    display: list-item;
    position: relative;
    width: 200px;
    line-height:30px;

}

nav ul ul li a{
    text-decoration: none;
}

nav ul ul ul li{
    position:relative;
    left: -200px;
    top: -20px;
    
}

