 
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;

}

nav ul li{
    /* background-color: rgb(33, 82, 53); */
    background-color: rgb(51, 122, 80);
    position: relative;
    list-style: none;
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 0 15px;
    color: white;
    font-size: 20px;
}

nav ul li a:hover{
    background-color: #3a5066;
}


nav ul ul {
    position: absolute;
    top: 22px;
    right: -30px;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: fit-content;
    float: none;
    display: list-item;
    position: relative;
    width: 200px;
    line-height:30px;

}

nav ul ul li a{
    text-decoration: none;
}


nav ul ul ul li{
    position:relative;
    left: -200px;
    top: -20px;
    
}





@media screen and (max-width:580px) {
   

    nav ul{
        display:block;
        position: absolute;
        top: 23px;
        right: -20px;
        display: none;
    }
   

    nav ul li{
        color: red;
        display: flex;
        padding: 5px 8px;
        border: 1px solid rgb(145, 145, 79);
        
    }

     nav ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        outline: none;
    }
    

    nav ul li a:hover{
        background-color: rgb(72, 141, 112);
        color: white;
    }

        
    nav ul ul {
        position: absolute;
        top:25px;
        right:50px;
        display: none;
    }

    nav ul li:hover > ul{
        display: block;
    }

    nav ul ul li{
        width: fit-content;
        float: none;
        display: list-item;
        position: relative;
        width: 200px;
        line-height:30px;

    }

    nav ul ul li a{
        text-decoration: none;
    }

    nav ul ul ul{
        top: 185px;
    }
    nav ul ul ul li{
        position:relative;
        left: 50px;
        top: -20px;   
    }
}
