*{
    padding: 0px;
    margin: 0px;
    font-style: sans-serif;
    
}
body{

    position: relative;
    background-color: rgb(255, 255, 255);

}

.hero{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

nav{
    display: flex;
    /* width: 100v; */
    margin:0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(33, 82, 53);
    position: sticky;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
}

.name{
    position: relative;
    border: 2px solid rgb(236, 234, 234);
    border-radius: 50%;
    background-color: #5c4c4c;
    width: 70px;
    height: 70px;
}

.name p{
    position: absolute;
    color: #ffffff;
    left: 50%;
    bottom:-10%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Hurricane', cursive;

}

.name ol{
    padding: 0;
    margin: 0;
    float: right;
    margin-right:-30px;
    position: relative;
    display: none;    
}
.name:hover ol{
    display: block;
}

.name ol li:hover > ol{
    display: block;
}

.name ol ol li{
    width: fit-content;
    float: none;
    display: list-item;
    position: relative;
    width: 200px;
    line-height:30px;

}
.name ol li{

    background-color: #43668a;
    list-style: none;
}
.name ol li a{
    text-decoration: none;
    display: block;
    padding: 0 10px;
    color:white;
    font-size: 20px;
}


.name ol li:hover{
    background-color: #243342;
}

.name ol ol li{
    width: 100px;
    display: flex;
}
.name ol ol li{

    color: lime;
}

.name ol ol li i{
    cursor: pointer;
}



nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    outline: none;
}

nav ul li a:hover{
    background-color: rgb(72, 141, 112);
    color: white;
}


.searchnow{
    width:fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 6px;
    background-color: rgb(32, 86, 167);
    padding: 2px;
    /* border: 2px solid white; */
}

.btn{
    margin:2px;
}


.search{
    width:250px;
    height: 25px;
    color: rgb(65, 74, 207);
    font-size: 17px;
    text-align: center;
    border: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
}

.search:focus::placeholder{
    color: transparent;
    
}

.search::placeholder{
    font-size: 15px;
    text-align:left;
    padding-left: 10px;
}

.searchnow button{
    padding: 2px 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    /* border: 2px solid rgb(168, 168, 29); */
    /* border-radius: 6px; */
    border: none;
    cursor: pointer;
    /* width: 90px; */
    font-size: 15px;
}

.searchnow button:hover{
    color: lime;
}


.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
.box{
    margin: 100px auto;
}

.details{
    
    flex-direction: column;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    font-size: 50px;
}

span{
    color:orange;
}

.details p{
    color: rgb(160, 156, 156);
    line-height: 22px;
    font-size: 18px;
}

.details a{
    background-color: #212121;
    padding: 10px 18px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 2px solid #535151;
    width: 130px;
    text-align: center;
}

.details a:hover{
    border: 2px solid #130c0c;
    box-shadow: 10px 1px 10px #130c0c 
    ;

}
.images{
    width: 45px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.images img{
    transform: translateX(-50%);
    transition: bottom 0.50s,top 0.50s;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%,-60%);
}

.images:hover .shape{
    top: 45%;
}
.images:hover .boy{
    top: 55%;
}


/* Creating contect box for portfolio contects */

.Content_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.Content_box h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: rgb(40, 168, 40);
    
}

.Content_box .horizontal{
    background-color: rgb(58, 158, 83);
    margin: 10px 15px;
    width: 100%;
    height: 2px;
}

.content{
    width: 420px;
    height:fit-content;
    border: 2px solid rgb(139, 139, 39);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.content img{
    width: 250px;
    height: 140px;
    border-radius: 5px;
   
}
.content img:hover{
    transform: scale(1.3);

}
.content h3{
    color:blue;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    line-height: 20px;
    margin: 5px;
    width: 100%;
    text-align: left;
}

.content span{
    font-size: 18px;
    color: rgb(50, 165, 50);
    font-family: 'Ramaraja', serif;
}

.content p{
    font-synthesis: 17px;
    line-height: 20px;
    margin: 5px;
}

.content button{
    padding: 7px 15px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 3px;
    cursor: pointer;
}
.content button:hover{
    transform: scale(1.1);

}

.status_bar{
    width: 100%;
    background-color: #212121;
   
    color: white;
    text-align: center;
}

@media screen and (max-width:950px){
    .images img{
        width: 400px;
        height:400px;
    }
        
}

@media screen and (max-width:780px){
    .images img{
        width: 350px;
        height: 350px;
    }
    
    .box{
        margin: 100px 50px;
    }
    
}

